@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: 'KartriderExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KartriderExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-style: normal;
}

body {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Pretendard-Regular';
}
