@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--ts-color);
  background: white;
  font-size: 1.6rem;
}

.fij {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fi {
  display: flex;
  align-items: center;
}

input {
  outline: none;
}

